<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-bg-dark" href="{% url 'home' %}">Django CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active text-bg-dark" aria-current="page" href="{% url 'logout_user' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-dark" aria-current="page" href="{% url 'add_record' %}">Add Record</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active text-bg-dark" aria-current="page" href="{% url 'home' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-bg-dark" aria-current="page" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>